body, html {
  height: 100%;
  margin: 0;
}

.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px 16px;
  background-color: #343a40;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smoother effect */
}

.about-button:hover {
  background-color: #17a2b8; /* Change the background color on hover */
}

.graph-iframe{
  width: 1800px;
  height: 600px
}
