<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" width="150" ngSrc="assets/images/leoenergy-logo.jpeg" alt="Leoenergy Kiosk" height="80">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let graph of graphs; let i = index;">
        <a (click)="setCurrentGraphWithIndex(i); kioskMode = false; deactivateKioskMode();" class="nav-link" href="#">{{ graph.name }}</a>
      </li>
    </ul>
  </div>
</nav>

<button (click)="toggleCollapse()" class="settings-button">{{visible ? "\u2303" : "\u2304"}}</button>

<div class="settings-box" *ngIf="visible" cCollapse>
  <p>Kiosk-Mode</p>
  <input type="checkbox" [(ngModel)]="kioskMode" (change)="kioskModeChecker()">
  <br>
  <p>Interval: {{interval}}</p>
  <input type="range" min="1" max="60" value="15" class="slider" [(ngModel)]="interval" (change)="deactivateKioskMode(); kioskModeChecker()">
  <p>Range</p>
  <select [(ngModel)]="selectedDuration" (ngModelChange)="changeDuration()">
    <option *ngFor="let duration of durations" [ngValue]="duration">{{ duration.long }}</option>
  </select>
</div>

<app-graph [graph]="currentGraph"></app-graph>

<button (click)="alert('LeoEnergy: SYP project 4BHIF, WTFPL licensed')" class="about-button">About</button>
