/* Allgemeine Stile */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* Sidebar-Stile */
.sidebar {
  width: 250px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Passen Sie die Farben an */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed; /* Fixiert die Sidebar */
  top: 0;
  left: 0;
  height: 100%; /* Volle Höhe */
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-item {
  width: 100%;
}

.sidebar-link {
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-link.active {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Content-Stile */
.content {
  margin-left: 250px; /* Platz für die Sidebar */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.content-wrapper {
  padding: 20px;
}

.centered-div {
  text-align: center;
  margin: 0 auto;
  color: #333;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #333;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: light;
  color: #666;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/* Zusätzliche moderne Styles */
.sidebar-link i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  /* Responsive Anpassungen */
  .sidebar {
    width: 200px;
  }
  .content {
    margin-left: 200px;
  }
}
